body {
    background-color: rgb(223, 219, 219);
}
h1, p {
    text-align: right;
}

.container {
    padding: 15% 28%;
}

.btn {
    border-radius: 0;
}

.btn:hover {
    background-color: rgb(235, 235, 235);
}

.display {
    background-color: white;
    height: 100px;
}
@media screen and (max-width: 420px) {
    .container {
        padding: 10% 20%;
    }
  }

.clear, .multiply, .subtract, .add {
    font-size: 22px;
}


